body {
    background-color: white;
}

div.border {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238,238,238);
    
    margin-left: auto;
    margin-right: auto;
    width: 913px;
    
    background-color: white;
    color: rgb(51,51,51);
}

div.box {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202,202,202);

    margin-left: auto;
    margin-right: auto;
    width: 911px;
    
    background-color: white;
    color: rgb(51,51,51);
}

div.textbox {
    align: left;
    margin: 30px 30px 30px 30px;
    background-color: white;
    color: rgb(51,51,51);
}

h1.title {
    font-family: Helvetica;
    font-size: 28px;
    color: rgb(0,0,0);
}

h1.section {
    font-family: Helvetica;
    font-size: 24px;
    color: rgb(0,0,0);
}

h1.subsection {
    font-family: Helvetica;
    font-size: 18px;
    color: rgb(51,51,51);
}

hr.headerDiv {
    color: rgb(204,204,204);
    noshade;
}

p {
    font-family: Helvetica;
    font-size: 14px;
    color: rgb(51,51,51);
}